{% block serialized_array_widget %}
    {% spaceless %}
        {{ block('collection_widget') }}
    {% endspaceless %}

    <script type="text/javascript">
        var collectionHolder{{ form.vars.id | title }} = $('#{{ form.vars.id }}');
        var $addLink{{ form.vars.id | title }} = $('<a href="#" class="btn btn-default add">{{ 'Add'|trans }}</a>');
        var $newLink{{ form.vars.id | title }} = $('<div></div>').append($addLink{{ form.vars.id | title }});

        jQuery(document).ready(function() {
            collectionHolder{{ form.vars.id | title }}.append($newLink{{ form.vars.id | title }});

            $addLink{{ form.vars.id | title }}.on('click', function(e) {
                e.preventDefault();
                addForm{{ form.vars.id | title }}(collectionHolder{{ form.vars.id | title }}, $newLink{{ form.vars.id | title }});
            });

            collectionHolder{{ form.vars.id | title }}.find('.da_oauthserver__serialized_array_item').parent().each(function() {
                addFormDeleteLink{{ form.vars.id | title }}($(this));
            });
        });

        function addForm{{ form.vars.id | title }}(collectionHolder, $newLink) {
            var prototype = collectionHolder.attr('data-prototype');
            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
            var $newFormDiv = $('<div></div>').append(newForm);
            $newLink.before($newFormDiv);
            addFormDeleteLink{{ form.vars.id | title }}($newFormDiv);
        }

        function addFormDeleteLink{{ form.vars.id | title }}($formDiv) {
            var $removeFormA = $('<a href="#" class="btn btn-default">Delete</a>');
            $formDiv.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $formDiv.remove();
            });
        }
    </script>
{% endblock %}
